i.fa-arrow-circle-right {
  float: right;
  margin: 5px;
}

i.fa-arrow-circle-left {
  float: left;
  margin: 5px;
}

button.new-kanban {
    background-color: #1917b8;
    color:white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 25%;
}
